[unix_http_server]
file=/data/catbot-ops/supervisor.sock
chmod=0700

[supervisord]
logfile=/data/catbot-ops/logs/supervisord.log
logfile_maxbytes=10MB
logfile_backups=3
pidfile=/data/catbot-ops/supervisord.pid
childlogdir=/data/catbot-ops/logs
nodaemon=false
umask=0077

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///data/catbot-ops/supervisor.sock

[program:rootless-docker]
command=/data/catbot-home/bin/dockerd-rootless.sh
directory=/data/catbot-home
user=catbot
environment=HOME="/data/catbot-home",USER="catbot",LOGNAME="catbot",PATH="/data/catbot-home/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",XDG_RUNTIME_DIR="/data/catbot-home/.docker/run",DOCKER_HOST="unix:///data/catbot-home/.docker/run/docker.sock"
autostart=true
autorestart=true
startsecs=5
startretries=3
stopsignal=TERM
stopwaitsecs=60
stopasgroup=true
killasgroup=true
redirect_stderr=true
stdout_logfile=/data/catbot-ops/logs/rootless-docker.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=3
